* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* html {
  scroll-behavior: smooth;
} */
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

.menuber {
  position: absolute;
  right: 25px;
  top: 20px;
  z-index: 1;
  width: 35px;
  height: 30px;
  display: none;
}
.menuber div {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: rgb(214, 211, 211);
  transition: 0.4s;
}
.menuber .two {
  top: 10px;
}
.menuber .three {
  top: 20px;
}
.main {
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(
      to top,
      rgba(1, 61, 61, 0.993),
      rgba(0, 68, 68, 0.336)
    ),url(jpg/five.jpg);
  background-position: 100%;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 1s;
}
.nav-child{
  background: linear-gradient(to left,rgb(1, 110, 110),rgb(0, 238, 238));
}
.nav .logo {
  width: 30%;
  font-size: 25px;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: 50px;
  color: white;
  text-shadow: 0px 5px 10px rgb(31, 31, 31);
}
.nav .menu {
  margin-right: 20px;
  width: 40%;
}
.nav .menu li {
  list-style: none;
  display: inline-block;
  color: whitesmoke;
  font-size: 18px;
}
.nav .menu li a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 8px;
  color: whitesmoke;
  position: relative;
}
.nav .menu li a::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid whitesmoke;
  border-left: 2px dotted whitesmoke;
  left: 50%;
  top: 40%;
  transition: 0.4s;
  opacity: 0;
}
.nav .menu li a:hover::after {
  left: -5%;
  top: 4%;
  width: 30px;
  height: 30px;
  opacity: 1;
}
.nav .menu li a::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid whitesmoke;
  border-right: 2px dotted whitesmoke;
  right: 50%;
  bottom: 40%;
  opacity: 0;
  transition: 0.4s;
}
.nav .menu li a:hover::before {
  right: -5%;
  bottom: 4%;
  width: 30px;
  height: 30px;
  opacity: 1;
}
.banner {
  width: 50%;
  margin: 200px auto;
  text-align: center;
}
.banner h1 {
  font-size: 4em;
  font-weight: 200;
  font-family: "Pushster", cursive;
  color: whitesmoke;
}
.banner p {
  color: rgb(223, 223, 223);
  text-transform: capitalize;
  margin: 15px 0px;
  margin-bottom: 50px;
}
.banner li {
  list-style: none;
  display: inline-block;
}
.banner li a {
  padding: 7px 10px;
  border: 1px solid rgb(206, 206, 206);
  color: rgb(230, 228, 228);
  text-decoration: none;
  border-radius: 3px;
  transition: 0.5s;
}
.banner li a:hover {
  background-color: whitesmoke;
  color: rgb(0, 75, 75);
}
.features {
  width: 80%;
  margin: 50px auto;
}
.features h5,
h2 {
  text-align: center;
}
.features h5 {
  color: rgb(0, 88, 88);
  font-size: 20px;
  font-weight: bold;
}
.features h2 {
  margin: 10px 0px;
}
.features-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0px;
  overflow: hidden;
}
.features-content .features-one {
  width: 600px;
  transition: 1.5s;
  transform: translateX(-900px);
  opacity: 0;
}
.features-content .FeatureOneAdd{
  transform: translateX(0px);
  opacity: 1;
}
.features-content .features-one ul {
  display: flex;
}
.features-content .features-one ul li {
  list-style: none;
}
.features-content .features-one ul li:nth-child(1) {
  width: 40px;
  height: 40px;
  color: rgb(4, 131, 118);
  border: 1px solid teal;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
  border-radius: 5px;
}
.features-content .features-one p {
  color: rgb(1, 107, 107);
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
}
.features-content .features-two {
  width: 300px;
  height: 450px;
  background: linear-gradient(to top, rgb(3, 68, 68), transparent),
    url(jpg/pexels-anna-shvets-5069432.jpg);
  background-size: cover;
  border-radius: 5px;
  margin-top: 30px;
  transform: translateX(800px);
  transition: 1.5s;
  opacity: 0;
}
.features-content .FeatureTwoAdd{
  transform: translateX(0px);
  opacity: 1;
}
.services {
  width: 85%;
  margin: 10px auto;
}
.services p {
  text-align: center;
  color: teal;
  font-size: 20px;
  margin: 8px 0px;
}
.services-gallery {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
  overflow: hidden;
}
.services-gallery div {
  width: 500px;
  height: 350px;
  margin-top: 10px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.services-gallery div div {
  position: absolute;
  top: 90%;
  text-align: center;
  width: 100%;
  height: 97%;
  background: linear-gradient(to top, rgb(1, 78, 78), transparent);
  transition: 0.7s;
}
.services-gallery div:hover > div {
  top: 0%;
}
.services-gallery div div h5 {
  border-bottom: 2px solid whitesmoke;
  display: inline-block;
  padding: 5px 40px;
  font-weight: bold;
  font-size: 18px;
  color: whitesmoke;
  margin-top: 120px;
}
.services-gallery div div p {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 25px;
}
.services-one {
  background: url(jpg/one.jpg);
  background-size: cover;
  transform: translateY(-500px);
  opacity: 0;
  transition: 1s;
}
.serviceOneAdd{
  transform: translateY(0px);
  opacity: 1;
}
.services-two {
  background: url(jpg/two.jpg);
  background-size: cover;
  transform: translateX(500px);
  opacity: 0;
  transition: 1s;
}
.serviceTwoAdd{
  transform: translateX(0px);
  opacity: 1;
}
.services-three {
  background: url(jpg/three.jpg);
  background-size: cover;
  transform: translateX(-500px);
  opacity: 0;
  transition: 1s;
}
.serviceThreeAdd{
  transform: translateX(0px);
  opacity: 1;
}
.services-four {
  background: url(jpg/four.jpg);
  background-size: cover;
  transform: translateY(500px);
  opacity: 0;
  transition: 1s;
}
.serviceFourAdd{
  transform: translateY(0px);
  opacity: 1;
}
.testimonial {
  width: 85%;
  margin: 35px auto;
  overflow: hidden;
}
.testimonial h4 {
  text-align: center;
  font-size: 22px;
  margin: 10px 0px;
}
.testimonial p {
  text-align: center;
  color: teal;
  font-weight: bold;
}
.client-says {
  width: 100%;
  min-height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
  overflow: hidden;
}
.testimonial .client-says .client-one {
  width: 330px;
  box-shadow: 1px 5px 15px rgba(1, 87, 94, 0.404);
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0px;
  transition: 0.5s;
}

.testimonial .client-says .client-one:hover {
  margin-top: -20px;
}
.cone{
  transform: translateX(-300px);
  opacity: 0;
  transition: 2s;
}
.cOneAdd{
  transform: translateX(0px);
  opacity: 1;
}
.ctwo{
  transform: translateY(300px);
  opacity: 0;
  transition: 2s;
}
.cTwoAdd{
  transform: translateY(0px);
  opacity: 1;
}
.cthree{
  transform: translateX(300px);
  opacity: 0;
  transition: 2s;
}
.cThreeAdd{
  transform: translateX(0px);
  opacity: 1;
}
.client-says .client-one img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 2px;
}
.client-says .client-one .paragraph {
  width: 300px;
  font-size: 13px;
}
.client-says .client-one .client-id {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.client-says .client-one .client-id div:nth-child(1) {
  margin: 15px 0px;
  margin-right: 10px;
}
.client-says .client-one .client-id div span {
  color: rgb(2, 159, 170);
}
.client-says .client-one .client-id div i {
  color: rgb(3, 179, 192);
}
.contact {
  width: 100%;
  background-color: rgba(169, 172, 172, 0.315);
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}
.contact img{
    width: 150px;
    position: absolute;
    left: 48%;
    top: 5px;
    opacity: .3;
}
.contact h4 {
  text-align: center;
  color: rgb(2, 122, 122);
  padding: 8px 0px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.contact .contact-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 85%;
  margin: 50px auto;
}
.contact .contact-content div {
  line-height: 25px;
  margin-top: 15px;
}
.contact-content .fcontact-one{
  transform: translateX(-400px);
  opacity: 0;
  transition: 1s;
}
.contact-content .FcontactOneAdd{
  transform: translateX(0px);
  opacity: 1;
}
.contact-content .fcontact-two{
  transform: translateX(400px);
  opacity: 0;
  transition: 2s;
}
.contact-content .FcontactTwoAdd{
  transform: translateX(0px);
  opacity: 1;
}
.contact .contact-content div i{
  color: teal;
}
.contact .contact-content div:nth-child(2) {
  text-align: right;
}
.contact  .social-contact ul{
    text-align: center;
}
.contact  .social-contact ul li{
   list-style: none;
    display: inline-block;
}
.contact  .social-contact ul li a{
  text-decoration: none;
  padding: 5px;
  border: 1px solid teal;
  color: teal;
  border-radius: 2px;
  transition: .3s;
}
.contact  .social-contact ul li a:hover{
    background-color: teal;
    color: whitesmoke;
}



@media (max-width:1075px) {
  .main {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        rgba(1, 61, 61, 0.993),
        rgba(0, 68, 68, 0.336)
      ),
      url(jpg/five.jpg);
    background-position: 100%;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
  }
  .nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 1s;
  }
  .banner {
    width: 50%;
    margin: 150px auto;
    text-align: center;
  }
  .nav .menu {
    margin-right: 10px;
    width: 60%;
    text-align: right;
  }
  .nav .logo {
    width: 40%;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 50px;
    color: white;
    text-shadow: 0px 5px 10px rgb(31, 31, 31);
  }
}



@media (max-width: 768px) {

  body{
    overflow-x: hidden;
  }
  .main{
    width: 100%;
    height: 100vh;
  }
  .nav .menu li {
    list-style: none;
    display: block;
  }

  .nav .menu .childmenu {
    position: absolute;
    top: -500px;
    left: 25%;
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .nav .menu .active {
    top: 100px;
    background: rgba(2, 51, 46, 0.527);
    backdrop-filter: blur(7px);
  }
  .nav .menu li {
    list-style: none;
    margin: 10px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 5px;
  }
  .nav .menu li a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    color: whitesmoke;
  }
  .menuber {
    display: block;
  }
  .menuber .activeone {
    transform: rotate(50deg);
    margin-top: 20px;
  }
  .menuber .activetwo {
    transform: rotate(50deg);
    margin-left: 20px;
    opacity: 0;
  }
  .menuber .activethree {
    transform: rotate(-50deg);
    margin-bottom: 20px;
  }
  .testimonial .client-says .client-one:hover {
    margin-top: -5px;
  }
  .client-says {
    width: 100%;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto;
  }
  .contact .contact-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
    margin: 50px auto;
  }
  .contact img{
    width: 150px;
    position: absolute;
    left: 40%;
    top: 5px;
    opacity: .3;
}
.testimonial .client-says .client-one:hover {
    margin-top: 20px;
  }
  .nav .logo {
    width: 60%;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 5px 10px rgb(31, 31, 31);
  }
}

@media (max-width: 400px) {
  
  body{
    overflow-x: hidden;
  }
  .nav .logo {
    width: 80%;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 10px;
    color: rgb(250, 250, 250);
    text-shadow: 0px 5px 10px rgb(31, 31, 31);
  }
  .banner {
    width: 60%;
    margin: 70px auto;
    text-align: center;
  }
  .banner h1 {
    font-size: 3em;
    font-weight: 200;
    font-family: "Pushster", cursive;
    color: whitesmoke;
  }
  .banner li a {
    padding: 5px 10px;
    border: 1px solid rgb(206, 206, 206);
    color: rgb(230, 228, 228);
    text-decoration: none;
    border-radius: 3px;
    transition: 0.5s;
    font-size: 14px;
  }
  .testimonial .client-says .client-one {
    width: 300px;
    box-shadow: 1px 5px 15px rgba(1, 87, 94, 0.404);
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0px;
    transition: 0.5s;
  }
  .client-says .client-one .paragraph {
    width: 220px;
    font-size: 12px;
  }
}
